# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
server/apache-tomcat-9.0.19/logs
server/apache-tomcat-9.0.19/temp
server/apache-tomcat-9.0.19/work
